@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using System.IdentityModel;
@using System.IdentityModel.Claims;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using IssueTracker.Models

@model IssueTracker.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="loadingscreen"> <div class="loader-wrapper"><div class="loader"></div><span class="load-text">Loading...</span></div> </div>
<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Dobrodošli,</h2>
        <h1>@Model.ImePrezime</h1>
        <p>
            Dobar dan, danas je: @DateTime.UtcNow.ToShortDateString() <br />
            Vreme je @DateTime.UtcNow.ToShortTimeString() po centralnom vremenu, trenutno imate aktivnih @Model.BrojProblemaTrenutnoUlogovanogKorisnika
            problema.
        </p>
    }
    else
    {
        <h1>Dobrodošli</h1>
        <p>
            Dobar dan, danas je: @DateTime.UtcNow.ToShortDateString() <br />
            Vreme je @DateTime.UtcNow.ToShortTimeString() po centralnom vremenu, za nastavak sa radom ulogujte se.
        </p>
    }
    <br />
    @Html.ActionLink("Današnji zadaci »", "Index", "Problems", new { korisnikId = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/imgs/photo-1461749280684-dccba630e2f6.jpg" alt="...">
            <div class="caption">
                <h3>Kako koristiti ovu aplikaciju?</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites
                    that enables a clean separation of concerns and that gives you full control over
                    markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast,
                    TDD-friendly development for creating sophisticated applications that use the latest web standards.
                </p>
                <a href="#" class="btn btn-default">Više &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/imgs/photo-1470311500468-0179201f7499.jpg" alt="...">

            <div class="caption">
                <h3>Najnovija vest</h3>
                <p>
                    Kroz mašinsko učenje, Facebook može da uči algoritme kognitivnim
                    zadacima koji su svojstveni ljudima. Dakle, ako algoritmu pokažete
                    dovoljno slika na kojima je ovca, posle izvesnog vremena,
                    on će početi i samostalno da ih prepoznaje.
                </p>
                <a href="#" class="btn btn-default">Više &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/imgs/photo-1434493789847-2f02dc6ca35d.jpg" alt="...">

            <div class="caption">
                <h3>Najnovija vest</h3>
                <p>
                    Pellentesque semper euismod mauris id auctor.
                    Etiam scelerisque egestas ipsum, vel pulvinar velit suscipit in.
                    Nulla placerat nunc ut nulla tristique, sit amet molestie metus finibus.
                    Pellentesque quam dolor, rutrum ac facilisis quis, tristique at ipsum.
                    Suspendisse in erat urna. Cum sociis natoque penatibus et magnis dis parturient montes,
                    nascetur ridiculus mus.
                </p>
                <a href="#" class="btn btn-default">Više &raquo;</a>
            </div>
        </div>
    </div>
</div>