@model IssueTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Promenite šifru";
}

<div class="row">
@*<h2>@ViewBag.Title.</h2>*@
</div>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br />
                @Html.AntiForgeryToken()
                <h3>Promena Šifre</h3>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon-2">Stara šifra:</span>
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control"}, type = "text" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon-2">Nova šifra:</span>
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" }, type = "text" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon-2">Potvrdite novu šifru:</span>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" }, type = "text" })
                        </div>
                    </div>
                </div>
                <br />
                @*<div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.OldPassword, "Stara šifra:", htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.NewPassword, "Nova šifra:", htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.ConfirmPassword, "Potvrdite novu šifru:", htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>*@
                <div class="row">

                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="...">
                            @Html.ActionLink("Vratite se", "Index", "Manage", new { @class = "btn btn-default" })
                            <input type="submit" value="Promeni šifru" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}