@model IEnumerable<IssueTracker.Models.Problem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VrstaProblema.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumKreiranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kreirao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzmene)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoslednjiIzmenio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaProblema.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DatumKreiranja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kreirao.ToString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzmene)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoslednjiIzmenio.ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
