@model PagedList.IPagedList<IssueTracker.Models.Problem>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<div class="loadingscreen"> <div class="loader"></div> </div>
<br />
<br />
@{ if (ViewBag.TrenutniKorisnikId == User.Identity.GetUserId())
    {
        <h2>Moji problemi</h2>
    }
    else
    {
        <h2>Svi problemi</h2>
    }
}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="nav navbar-default navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-left">
                <div class="nav navbar-nav">
                    @*<li>
                        <button class="btn btn-default">@Html.ActionLink("Kreirajte novi", "Create")</button> 
                </li>*@
                    @using (Html.BeginForm("Create", "Problems", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-default">Kreiraj</button>
                    }
            </div>
            </div>
            <form class="navbar-form navbar-right">

                @using (Html.BeginForm("Index", "Problems", FormMethod.Get))
                {
                    <div class="form-group">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-search", placeholder = "Unesite vrstu, naziv ili status..." })
                    </div>
                    <button type="submit" value="Search" class="btn btn-default">Pretraži</button>
                }
            </form>
        </div>
    </div>
</nav>
    <table class="table table-striped table-bordered table-hover table-curved table-responsive table-condensed" id="index-tabela">
        <tr>
            
            <th class="vrsta">
                @Html.ActionLink("Vrsta problema", "Index", new { sortOrder = ViewBag.VrstaSortParm, currentFilter = ViewBag.CurrentFilter, korisnikId = ViewBag.TrenutniKorisnikId }) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th class="naziv">
                @Html.DisplayNameFor(model => model.First().Naziv)
            </th>
            <th class="datum-kreiranja">
                @Html.ActionLink("Datum kreiranja", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, korisnikId = ViewBag.TrenutniKorisnikId }) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Kreirao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VremePoslednjeIzmene)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().PoslednjiIzmenio)
            </th>
            <th class="status-sort">
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter, korisnikId = ViewBag.TrenutniKorisnikId }) <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DodeljenoKorisniku)
            </th>
            <th>
                Akcije
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.VrstaProblema.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                <td>@Html.DisplayFor(modelItem => item.DatumKreiranja)</td>
                <td>@Html.DisplayFor(modelItem => item.Kreirao.ImePrezime)</td>
                <td>@Html.DisplayFor(modelItem => item.VremePoslednjeIzmene)</td>
                <td>@Html.DisplayFor(modelItem => item.PoslednjiIzmenio.ImePrezime)</td>
                <td><div class="status">@Html.DisplayFor(modelItem => item.Status)</div></td>
                <td>@Html.DisplayFor(modelItem => item.DodeljenoKorisniku.ImePrezime) </td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </td>
            </tr>
        }
    </table>
<hr />
<div class="row paginacija">
    Strana @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, korisnikId = ViewBag.TrenutniKorisnikId }))
</div>
